@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: #d1d5db; /* Tailwind's border-gray-300 */
  border-radius: 1rem; /* Tailwind's rounded-2xl */
}

button.primary {
  background-color: #3b82f6;
  color: #fff;
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

button:disabled {
  background-color: #93c5fd; /* Tailwind's bg-blue-300 */
  cursor: not-allowed; /* Not-allowed cursor */
}
